.container {
    height: 50vh;
    width: 20vw;
    max-width: 500px; 
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFAF9;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

.form-label {
    color: black;
    font-size: 2rem;
    margin-bottom: 2vh;
    
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-title {
    margin-bottom: 0.3rem;
    text-align: left;
    width: 100%;
    color: black;
    font-weight: bold;
}

.form-input {
    padding: 0.625rem;
    border-radius: 0.5rem;
    width: 90%;
    height: 35px;
    font-size: 1.3rem;
    font-family:"Varela Round" ;
    outline: none;
    border: solid #E7CCCC 0.2rem;
    background-color: transparent;
    margin-bottom: 0.8rem;
    color: black;
}

.form-button {
    width: 40%;
    padding: 0.625rem;
    background-color: #D90368;
    outline: none;
    border: none;
    border-radius: 15rem;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #c2025c;
}


.form-footer {
    margin-top: 0.625rem;
    color: white;
    font-size: 0.75rem;
    text-align: center;
}
.form-line{
    margin-top: 2em;
    width: 80%;
    border: solid 0.1rem black;
}

.form-google{
    padding:1rem;
    border-radius: 0.5rem;
    width: 90%;
    font-size: 1.3rem;
    font-family:"Varela Round" ;
    outline: none;
    border: solid #E7CCCC 0.2rem;
    background-color: transparent;
    margin-bottom: 0.8rem;
    color: black;
    margin-top: 2rem;
    display: flex;
}
.button-text{
    margin-top: 0.5rem;
}

.logo{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-top: 0.5rem;

}
@media only screen and (max-width: 600px) {
    .container{
        width: 80vw;
    }
  }